<?xml version="1.0" encoding="utf-8"?>

<!-- choco install chocolatey-packages.config -y -->

<packages>
    <!-- Default Apps -->

    <package id="googlechrome" />
	<package id="greenshot" /> 
    <package id="firefox" />
    <package id="notepadplusplus" />
    <package id="slack" />
    <package id="7zip.install" />
    <package id="putty.install" />
    <package id="vlc" />  
    <package id="git" /> <!-- might just be able to use "jre8" --> 
    <package id="tortoisegit" /> 
    <package id="webex-meetings" /> 
    <package id="miniconda3"
			 packageParameters="'/AddToPath:1'"/> 
    <package id="vscode" /> 
    <package id="unifying" /> 
	<package id="make" /> 
	<package id="slack" />
	<package id="vmwareworkstation" /> version="14.1"
	<package id="drawio" /> 
	<package id="tor-browser" /> 
	<package id="linux-reader" /> 
	<package id="libreoffice-fresh" /> 
	<package id="julia" />
	<package id="tor-browser" />
	<package id="evernote" />
	<package id="jekyll" />
	<package id="winscp" />	
	<package id="cmder" />
</packages>
